body {
    background-color: rgb(77, 7, 7);
    color: white;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(148, 20, 20);
    color: white;
    font-family: "Noto Sans", sans-serif;
}